
.mini-profile-pic{
    float:left;
    position:absolute;
    left:2vw;
    bottom: 1vh;
    width: 200px;
    height: 20vh;
}
.clearfix{
        /* position: absolute;
        bottom:0;
        left:calc( --mini-profile-pic-left +  --mini-profile-pic-width); */
        position:absolute;
        left:calc( 200px + 2vw);
}