<div *ngIf="!isloading"class="center-container" [@fade]>
    <div class="row" style="flex-wrap: nowrap;">
        <h2 class="me-3 col-4 display-5" style="align-self: center;">{{componentHeading}}</h2>
        <form class="col-8" #f="ngForm" (ngSubmit)="FormSubmitted(f.value)" *ngIf="!isSetPasswordComponentActive">
            <div class="mb-3" >
                <label for="input1" class="form-label ">{{label1}}</label>
                <input *ngIf="isForgetComponentActive" type="email" id="input1" class="form-control" ngModel required email name="email"/>
                <input *ngIf="!isForgetComponentActive" type="password" class="form-control" id="input1"  ngModel required name="oldPassword"/>
            </div>
            <div class="mb-3">
                <label for="input2" class="form-label">{{label2}}</label>
                <input *ngIf="isForgetComponentActive" type="date" class="form-control" id="input2" ngModel required name="dob"/>
                <input *ngIf="!isForgetComponentActive"type="password"class="form-control animate" id="input2" ngModel required name="newPassword">
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Reset Password</button>
             <div *ngIf="alertBoxOn" class="p-2 border rounded-2 mt-2" [ngClass]="alertBoxClass?'bg-success':'bg-danger'">{{alertBoxMessage | uppercase}}</div>

        </form>


        <form class="col-8" #f="ngForm" (ngSubmit)="setPasswordFormSubmitted(f.value)" *ngIf="isSetPasswordComponentActive">
            <div class="mb-3" >
                <label for="input1" class="form-label ">New Password</label>
                <input type="password" class="form-control" id="input1"  ngModel required name="newPassword"/>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Reset Password</button>
             <div *ngIf="alertBoxOn" class="p-2 border rounded-2 mt-2" [ngClass]="alertBoxClass?'bg-success':'bg-danger'">{{alertBoxMessage | uppercase}}</div>

        </form>
    </div>


</div>

<app-loading-overlay *ngIf="isloading"></app-loading-overlay>


