
   <!-- <div class="body">
      <div class="my-container">
         <div class="box box-yellow"> </div>
         <div class="min-box f">F</div>
         <div class="box box-blue"></div>
         <div class="box box-skyblue"></div>
         <div class="box box-red"></div>
         <div class="min-box b">B</div>
         
      </div>
   </div> -->
   <div class="model" id="model">
      <div class="model-backdrop"></div>
     
         <div class="body">
            <div class="my-container">
               <div class="box box-yellow"> </div>
               <div class="min-box f">F</div>
               <div class="box box-blue"></div>
               <div class="box box-skyblue"></div>
               <div class="box box-red"></div>
               <div class="min-box b">B</div>
               
            </div>
     
    </div> 
