<div class="container mt-5" [@fade] *ngIf="!loading">
    <div class="row g-2" *ngIf="isEmpty()">
        <div class="col" *ngFor="let user of userFriends">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" alt="..." appPicture [img$]="getImageUrl(user._id,user.photoId)">
                <span *ngIf="user.isActive" class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
                <div class="card-body">
                  <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                  <p class="card-text">Email: {{ user.email }}</p>
                  <p *ngIf="user.phonenumber"class="card-text">Phone: {{ user.phonenumber }}</p>
                  <button class="btn btn-primary" (click)="userMoreInfo(user._id)">More inFo</button>
                </div>
              </div>
        </div>
    </div>
    <div *ngIf="!isEmpty()" class="alert alert-info" role="alert">
       start your networking now by sending the friendRequest to NearBY.
       <a [routerLink]="'/network'" class="btn btn-info">Go</a >
    </div>
</div>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>
