<div class="center-container" [@fade] *ngIf="!isloading">
    <div class="row" style="flex-wrap: nowrap;" *ngIf="!isPasswordResetted">
    <h2 class="me-3 col-4 display-5" style="align-self: center;">Login</h2>
    <form class="col-8" #f="ngForm" (ngSubmit)="ResetFormSubmitted(f.value)">
        <div class="col-12 row"   >
            <div class="col-12 col-lg-6">
                <label class="form-label" for="password ">Password</label>
                <input type="password"class="form-control" id="password" ngModel name="password" required #password="ngModel" [ngClass]="{ error:password.invalid && password.touched }" />
                <div *ngIf="(password.invalid && !password.pristine) && password.errors && password.errors['reduired']" class="text-danger">
                    PLEASE Fill THE PASSWORD
                </div>
            </div>  
            <div class="col-12 col-lg-6">
                <label class="form-label" for="cpassword " >conform assword</label>
                <input type="password"class="form-control" id="cpassword" required ngModel name="cpassword" Mustmatch #cpassword="ngModel" [ngClass]="{ error:cpassword.invalid && cpassword.touched }" />
                <div *ngIf="(cpassword.invalid && !cpassword.pristine) && cpassword.errors && cpassword.errors['mustmatch']" class="text-danger">
                    PASSWORD NOT MATCH
                </div>
            </div> 
        </div>
        <button type="submit" class="btn btn-primary mt-1" [disabled]="f.invalid">Login</button> 
    </form>

</div>
<div [@fade] *ngIf="isPasswordResetted" class="d-flex width-100 height-100" >
    <p class="fs-3">success</p>
</div>

</div>

<app-loading-overlay *ngIf="isloading"></app-loading-overlay>

  
